@namespace DnDBlazorReference.Client.Shared.Monsters
@using DnDBlazorReference.Shared.Models.BinaricPox

<li @onmousedown="OnMouseDown" class="d-flex flex-row">
    @if (Monster == null)
    {
        <span>Error ...</span>
    }
    else
    {
        var index = 0;

        <span class="elist-column @GetColumnClass(index++)">@Monster.Name</span>
        <span class="elist-column @GetColumnClass(index++)">@Monster.CreatureType?.ToString()</span>
        <span class="elist-column @GetColumnClass(index++)">@Monster.PrimarySource</span>
        <span class="elist-column @GetColumnClass(index++)">@Monster.ReferenceCardSize</span>
    }
</li>

@code {
    [Parameter]
    public Monster Monster { get; set; }

    [Parameter]
    public EventCallback<Monster> OnSelectedItem { get; set; }

    [Parameter]
    public string[] ColumnClasses { get; set; }

    public void OnMouseDown()
    {
        OnSelectedItem.InvokeAsync(Monster);
    }

    private string GetColumnClass(int index)
    {
        if (ColumnClasses == null || index > ColumnClasses.Length) return string.Empty;

        return ColumnClasses[index];
    }
}
