

<div>
    <div>
        Name:
        <span><input @bind="@Name" type="text" /></span>
    </div>
    <div>
        Source:
        <span><input value="@FilterBlock.Source" type="text" @onchange="@(async (e) => { FilterBlock.Source = e.Value.ToString(); await OnFilterBlockChanged.InvokeAsync(FilterBlock); })" /></span>
    </div>
    <div>
        Creature Type:
        <span><input value="@FilterBlock.CreatureType" type="text" @onchange="@(async (e) => { FilterBlock.CreatureType = e.Value.ToString(); await OnFilterBlockChanged.InvokeAsync(FilterBlock); })" /></span>
    </div>
</div>

@code {
    [Parameter]
    public FilterBlock FilterBlock { get; set; }

    public string Name
    {
        get => FilterBlock.Name;
        set
        {
            FilterBlock.Name = value;
            FireChangedEvent();
        }
    }

    [Parameter]
    public EventCallback<FilterBlock> OnFilterBlockChanged { get; set; }

    private async void FireChangedEvent()
    {
        await OnFilterBlockChanged.InvokeAsync(FilterBlock);
    }
}
