@namespace DnDBlazorReference.Client.Shared.Monsters
@using DnDBlazorReference.Shared.Models.BinaricPox
@inherits ElementListItemBase<Monster>

<li @onmousedown="SelectItem" class="d-flex flex-row @GetCssByItem(MonsterList.SelectedMonster)">
    @if (ListItem == null)
    {
        <span>Error ...</span>
    }
    else
    {
        var index = 0;

        <span class="elist-column @GetColumnClass(index++)">@ListItem.Name</span>
        <span class="elist-column @GetColumnClass(index++)">@ListItem.CreatureType?.ToString()</span>
        <span class="elist-column @GetColumnClass(index++)">@ListItem.PrimarySource</span>
        <span class="elist-column @GetColumnClass(index++)">@ListItem.ReferenceCardSize</span>
    }
</li>

@code {
    [CascadingParameter]
    public MonsterList MonsterList { get; set; }

    [Parameter]
    public string[] ColumnClasses { get; set; }

    private string GetColumnClass(int index)
    {
        if (ColumnClasses == null || index > ColumnClasses.Length) return string.Empty;

        return ColumnClasses[index];
    }

    public override Task SetParametersAsync(ParameterView parameters)
    {
        StateHasChanged();
        return base.SetParametersAsync(parameters);
    }
}
